<c-container>
    <c-row>
        <c-col>
            <c-card>
                <c-card-header *ngIf="product" class="bg-secondary text-white">
                    {{ product?.name | titlecase }}
                </c-card-header>
                <c-card-body>
                    <c-carousel *ngIf="product && product.imagesUrl && product.imagesUrl.length > 0">
                        <c-carousel-indicators></c-carousel-indicators>
                        <c-carousel-inner>
                            <c-carousel-item *ngFor="let slide of product.imagesUrl">
                                <img cImg fluid [src]="slide" loading="lazy" />
                            </c-carousel-item>
                        </c-carousel-inner>
                        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
                    </c-carousel>
                    <form [formGroup]="productForm!" cForm>
                        <app-edit-box [config]="codeConfig!">
                        </app-edit-box>

                        <app-edit-box [config]="descriptionConfig!">
                        </app-edit-box>

                        <c-input-group class="mb-3">
                            <span cInputGroupText id="type-desc-id">Tipo</span>
                            <select aria-label="select example" cSelect required
                                    id="productCategory"
                                    formControlName="category">
                                <option *ngFor="let cat of categories | async" (click)="updateCategory()" [selected]="cat.name === product?.type"
                                >{{cat.name}}</option>
                            </select>
                        </c-input-group>


                        <c-input-group class="mb-3">
                            <span cInputGroupText id="stock-desc-id">Stock {{stockControl?.value}}</span>
                            <c-alert *ngIf="stockInfoIndicator" [color]="stockInfoIndicator">Sotto scorta!</c-alert>
                            <input required
                                   formControlName="stock"
                                   id="stock"
                                   cFormControl
                                   max="{{productConfig?.maxStockIncrement}}"
                                   min="{{productConfig?.minStockIncrement}}"
                                   step="{{productConfig?.stockStepIncrement}}"
                                   (change)="updateStock(true)"
                                   type="range"/>
                        </c-input-group>

                        <c-input-group class="mb-3">
                            <span cInputGroupText id="price-desc-id">Prezzo {{priceControl.value}} {{productConfig?.currency}}</span>
                            <input required
                                   formControlName="unitPrice"
                                   id="unitPrice"
                                   cFormControl
                                   max="{{productConfig?.maxUnitPrice}}"
                                   min="{{productConfig?.minUnitPrice}}"
                                   step="{{productConfig?.priceStepIncrement}}"
                                   type="range"
                                   (change)="adjustUnitPrice()"/>
                        </c-input-group>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>
