<c-container>
    <c-row>
        <c-col>
            <c-card>
                <c-card-header class="bg-secondary text-white">
                    {{ product.name | titlecase }}
                </c-card-header>
                <c-card-body>
                    <c-carousel>
                        <c-carousel-indicators></c-carousel-indicators>
                        <c-carousel-inner>
                            <c-carousel-item *ngFor="let slide of product.imagesUrl">
                                <img cImg fluid [src]="slide" loading="lazy" />
                            </c-carousel-item>
                        </c-carousel-inner>
                        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
                    </c-carousel>
                    <form [formGroup]="productForm!">
                        <c-input-group class="mb-3">
                            <span cInputGroupText id="code-desc-id">Codice Fornitore</span>
                            <input cFormControl
                                   formControlName="code"
                                   id="code" type="text" aria-describedby="code-desc-id"
                                   aria-label="Codice Fornitore"
                                   [value]="codeControl.value">
                            <button cButton color="secondary" type="button" variant="outline" [disabled]="codeControl?.invalid" (click)="updateCode()">aggiorna</button>
                            <c-form-feedback *ngIf="codeControl?.invalid"
                                             class="custom-invalid-feedback"
                                             [valid]="false">{{firstErroMessage(codeControl)}}</c-form-feedback>
                        </c-input-group>

                        <c-input-group class="mb-3">
                            <span cInputGroupText id="type-desc-id">Tipo</span>
                            <input cFormControl id="type" type="text" aria-describedby="type-desc-id" aria-label="Tipo" [value]="product.type" readOnly>
                        </c-input-group>

                        <c-input-group class="mb-3">
                            <span cInputGroupText id="desc-desc-id">Descrizione</span>
                            <textarea formControlName="description" aria-label="Aggiorna Descrizione" cFormControl>{{descriptionControl.value}}</textarea>
                            <button cButton color="secondary" type="button" variant="outline" [disabled]="descriptionControl?.invalid" (click)="updateDesc()">aggiorna</button>
                            <c-form-feedback *ngIf="descriptionControl?.invalid"
                                             class="custom-invalid-feedback"
                                             [valid]="false">{{firstErroMessage(descriptionControl)}}</c-form-feedback>
                        </c-input-group>

                        <c-input-group class="mb-3">
                            <span cInputGroupText id="stock-desc-id">Stock {{stockControl?.value}}</span>
                            <c-alert *ngIf="stockInfoIndicator" [color]="stockInfoIndicator">Sotto scorta!</c-alert>
                            <input required
                                   formControlName="stock"
                                   id="stock"
                                   cFormControl
                                   max="{{productConfig?.maxStockIncrement}}"
                                   min="{{productConfig?.minStockIncrement}}"
                                   step="{{productConfig?.stockStepIncrement}}"
                                   (change)="updateStock(true)"
                                   type="range"/>
                        </c-input-group>

                        <c-input-group class="mb-3">
                            <span cInputGroupText id="price-desc-id">Prezzo {{priceControl.value}} {{productConfig?.currency}}</span>
                            <input required
                                   formControlName="unitPrice"
                                   id="unitPrice"
                                   cFormControl
                                   max="{{productConfig?.maxUnitPrice}}"
                                   min="{{productConfig?.minUnitPrice}}"
                                   step="{{productConfig?.priceStepIncrement}}"
                                   type="range"
                                   (change)="adjustUnitPrice()"/>
                        </c-input-group>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>
<c-toaster placement="top-end" position="absolute" id="product-detail-toaster" #toaster>
</c-toaster>
