<c-card-body>
    <form [formGroup]="formGroup" cForm>

        <!-- invitation code -->
        <app-edit-box *ngIf="!enrolled" [config]="invitationCodeConfig!">
        </app-edit-box>

        <!-- displayName -->
        <app-edit-box *ngIf="enrolled" [config]="displayNameConfig!">
        </app-edit-box>

        <!-- profile photo -->
        <app-edit-box *ngIf="enrolled" [config]="profilePhotoConfig!">
        </app-edit-box>

        <!-- phone number -->
        <app-edit-box *ngIf="enrolled" [config]="phoneNumberConfig!">
        </app-edit-box>
        <div *ngIf="this.countDown != null">
            <p>{{this.countDown | async}} secondi rimanenti per verificare il tuo numero!</p>
        </div>
        <div id="recaptcha" #recaptcha>
        </div>
        <app-edit-box *ngIf="enrolled && verificationPhoneId !== ''" [config]="otpConfig!">
        </app-edit-box>

    </form>
</c-card-body>


